# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = {{ user.full_name }}
	email = {{ user.email }}
[alias]
	lg = log --pretty --format=\"%Cred%h %Creset%an %Cgreen(%ae)%Creset : %s %Cblue(%ar)\"
	co = checkout
[url "https://github.com/"]
	insteadOf = git://github.com/
[core]
    pager = less -F -X
