# Man colors
export LESS_TERMCAP_mb=$'\E[01;31m'
export LESS_TERMCAP_md=$'\E[01;32m'
export LESS_TERMCAP_me=$'\E[0m'
export LESS_TERMCAP_se=$'\E[0m'
export LESS_TERMCAP_so=$'\E[01;30;03;37m' # Status bar at the bottom & hilight (in search for example)
export LESS_TERMCAP_ue=$'\E[0m'
export LESS_TERMCAP_us=$'\E[01;33m'

# Add empty line between command and output
preexec() { print "" }

# Remap caps lock to ctrl
[[ -z $SSH_CONNECTION ]] && setxkbmap -option ctrl:nocaps

# Detect existing tmux session
if [[ -z $TMUX ]] && tmux list-sessions &>/dev/null; then
	echo
	echo -e "${BLUE}Following TMUX sessions are actives:${END}"
	tmux list-sessions -F "#{session_name} (Windows: #{session_windows} / Clients: #{session_attached})" | sed "s/^/    - "/

	echo
	echo -en "${BLUE}Enter session ID to join, or [enter] to ignore : ${END}"
	read sessionId
	
	if [[ -n $sessionId ]]; then
		tmux attach -t $sessionId
	else
		echo "   ignoring ..."
	fi
else
	# Launch tmux if its installed
	which tmux &>/dev/null && tmux
fi
